.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-header {
  display: flex;
  padding: 1rem;
  width: 100%;

  span {
    margin: 0;
    overflow-x: hidden;
  }
}

.app-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  // min-height: calc(100vh - 10rem);
  overflow-y: auto;
  height: 100%;
}

.title {
  margin: 10px 0px;
}

.app-footer {
  width: 100%;
  padding: 1rem;
  text-align: center;

  p {
    margin: 0;
    overflow-x: hidden;
  }
}

.add-animal-wrapper {
  width: 100%;
}

.animals-list {
  list-style-type: none;
  padding: 0; /* Remove default padding if needed */
  margin: 0;

  .animals-list-item {
    margin: 10px 0px;
  }
}

.error {
  color: #af0000;
}
